<!--%= image_tag "check.png", :id => "check"%-->
<h2>整體狀態</h2>
<div class="chart"></div>
<h2>最新動態</h2>
<div class="updates">
	<% recent_changelogs(10).each do |change| %>
		<div>
			<%= change.obj_type %>
			<%= change.message %>
		</div>
	<% end %>
</div>