<div class="shop_header">
	<!--div class="featured_item"></div-->
		<%=image_tag "feature_item.jpg" %>
</div>
<div class="page_content">
	<% @rewards.each do |reward| %>
		<div class = "item">
			<div class= "header">
				<p class="name"><%= reward.name %></p>
				<p class="price"><span class="cost"><%= reward.cost %></span></p>
			</div>
			<%= link_to(image_tag('reward_'+reward.id.to_s+'.jpg'), reward_show_path(reward.id)) %>
		</div>
	<% end %>
</div>