// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#intro {
  position:fixed;
  top:0; 
  right:0; 
  bottom:0; 
  left:0;
  margin:0;
  box-sizing:border-box;
  width:100%;
  height:100%;
  z-index: -1;
}
.button_area{
    position:absolute;
	height:50%;
	width:100%;
	margin-top:16%;
	background-color:rgba(210, 207, 207, 0.7);
	border-radius: 10px 10px 10px 10px;
}
.btn{
    position:absolute;
    height:6%;
	width:7%;
	display:inline;
	margin-left:30%;
	background: #34d981;
	background-image: -webkit-linear-gradient(top, #34d981, #53b82b);
	background-image: -moz-linear-gradient(top, #34d981, #53b82b);
	background-image: -ms-linear-gradient(top, #34d981, #53b82b);
	background-image: -o-linear-gradient(top, #34d981, #53b82b);
	background-image: linear-gradient(to bottom, #34d981, #53b82b);
	-webkit-border-radius: 11;
	-moz-border-radius: 11;
	border-radius: 11px;
	font-family: Arial;
	color: #ffffff;
	font-size: 25px;
	padding: 23px 40px 23px 40px;
	text-decoration: none;
}
#signup{
	top:23%;
}
#signin{
	top:35%;
	margin-left:55%;
}
#finish{
	position:relative;
	top:80px;
}

.button_area a{
	text-decoration:none;
	color:#ffffff;
}

#welcome{
	position:relative;
	margin-left:900px;
}

.btn:hover {
	background: #3cfc63;
	background-image: -webkit-linear-gradient(top, #3cfc63, #55d934);
	background-image: -moz-linear-gradient(top, #3cfc63, #55d934);
	background-image: -ms-linear-gradient(top, #3cfc63, #55d934);
	background-image: -o-linear-gradient(top, #3cfc63, #55d934);
	background-image: linear-gradient(to bottom, #3cfc63, #55d934);
	text-decoration: none;
}