// Place all the styles related to the reward controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.shop_header {
  position: relative;
	height:40vh;
	width:100%;
}
.user-shopping-infor {
  position:absolute;
  width:15%;
  height:90%;
  margin-left:65%;
  margin-top:50px;
  font-size:25px;
  z-index:1;
}
#shop-back-btn {
  padding-left:20px;
  padding-right:20px;
  font-size: 20px;
  margin-left:0px;
  left:0px;
}
#redeem-history{
  font-size: 20px;
  display:block;
  left:0px;
  margin-left:0px;
}
.shop_header img{
  position: absolute;
  width:100%;
  height:100%;
  margin:auto;
}
.all-items{
	padding: 30px 0px 4px 0px;
  overflow: hidden;
  height: auto;
  width: 945px;
  margin: 0 auto 0;
}
.item {
  display:inline-block;
  width:452px;
  height:364px;
  font-size:18px;
  margin-left:18px;
  margin-top:20px;
}
.item .header{
  background:#FAFAFA;
  width:451px;
  height:39px;
  border-radius: 5px 5px 0 0;
  border-bottom: none;
  border: 1px solid #ddd;
  padding-top:0px;
  padding-bottom:0px;
}
.name {
  display: inline-block;
}
.price{
  float:right;
  display: inline-block;
  height:39px;
  width:49px;
  background:#FAFAFA;
  border: 1px solid #ddd;
  z-index: 1;
  margin-top:0px;
  margin-bottom:0px;
  border-bottom: none;
  border-top: none;
  border-right: none;
  text-align: center;
}
.price .cost{
  vertical-align:middle;
}
.item img{
  width:452px;
  height:325px;
  border-radius: 0px 0px 5px 5px;
}
.item img:hover{
  opacity:0.7;
}

.item-area{
  height: 600px;
  width: 100%;
  margin-left:auto;
  margin-right:auto;
  margin-top:10%;
}

.item-area .image-area{
  display:inline-block;
  width:60%;
  height:60%;
  border: 0.5px solid;
  border-radius: 11px;
}

.item-area .image-area img{
  height:100%;
  width:100%;
  border-radius: 11px;
}

.redeem-area{
  height:50%;
  position:absolute;
  width:27%;
  display:inline-block;
  margin-left:2%;
}
#item-description{
  position:relative;
  height:60%;
  overflow:scroll;
  overflow-x: auto;
  overflow-y: auto;
  word-wrap: break-word;
}
#redeem-btn{
  position:relative;
  padding-left:20px;
  padding-right:20px;
}
#back-btn{
  position:relative;
  padding-left:20px;
  padding-right:20px;
  margin-left:5%;
  width:100%;
  background: #db6060;
  background-image: -webkit-linear-gradient(top, #db6060, #b82b32);
  background-image: -moz-linear-gradient(top, #db6060, #b82b32);
  background-image: -ms-linear-gradient(top, #db6060, #b82b32);
  background-image: -o-linear-gradient(top, #db6060, #b82b32);
  background-image: linear-gradient(to bottom, #db6060, #b82b32);
}
#back-btn:hover {
  background: #fc3c73;
  background-image: -webkit-linear-gradient(top, #fc3c73, #eb1135);
  background-image: -moz-linear-gradient(top, #fc3c73, #eb1135);
  background-image: -ms-linear-gradient(top, #fc3c73, #eb1135);
  background-image: -o-linear-gradient(top, #fc3c73, #eb1135);
  background-image: linear-gradient(to bottom, #fc3c73, #eb1135);
  text-decoration: none;
}